/*******************************************************************
* components.css -- styling for all of the components on the website 
*                   
*
* Ryan Stolys, 10/09/20
*    - File Created
*
*******************************************************************/

/*******************************************************************
*  Contents -- in order of occurance 
*
* Button
* Dropdown
* Nav Bar
* Popup
* Slider
* Table
* Text Input
*
*******************************************************************/

/*******************************************************************
* 
* To Add a new component leave 3 lines between the component about and below 
*   Add the component to the contents and place it in ALPHA order
*
*******************************************************************/

/** NOTE: Colours on webpage 
*     #cccc00 -- yellow
*     #1a6600 -- green 
**/


/*******************************************************************
* Buttons
*******************************************************************/
.button{
    padding-top: 8px;
    display: inline-block;
    width: 90%;
    height: 50px;
    background-color:#F8D718;
    border: 1px solid #F8D718;/*#c8c800;*/
    border-radius: 8px;
    text-align: center;
    font-size: 20px;
}

.buttonSmall{
    padding-top: 4px;
    display: inline-block;
    width: 90%;
    height: 35px;
    background-color:#F8D718;
    border: 1px solid #F8D718;/*#c8c800;*/
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
}

.button:hover, .buttonSmall:hover{
    cursor: pointer;
}

.button:active, .buttonSmall:active{
    background-color: #adad02;
}
/*******************************************************************
* End Of Buttons
*******************************************************************/


/*******************************************************************
* Dropdowns
*******************************************************************/
.dropdown{
  border: 1px solid #1a6600;
  position: relative;
  width: 80%;
  height: 30px;
  background-color: #f1f1f1;
  border-radius: 4px;
}

.dropdown-button{
  color: black;
  position: relative;
  background-color: #f1f1f1;
  width: 100%;
  padding: 4px 5%;
  border-radius: 4px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  z-index: 5;
}

.dropdown:hover, .dropdown-button:hover, .dropdown-title:hover{
    background-color: #e0d781;
}

.dropdown-disabled{
  background-color: rgb(200,200,200) !important;
}

.dropdown-title{
  width: 100%;
  float: left;
  margin-left: 10px;
  transition: transform .3s;
  border-radius: 4px;
  z-index: 5;
}

.fa-angle-right{
  float: right;
  margin-right: 5%;
  transition: transform .3s;
}

.rotate-90{
  transform: rotate(90deg);
}

.dropdown-content {
  position: relative;
  transition: all 0.4s ease-out; 
  max-height: 10em;
  overflow-y: auto;
  background-color: #dfdbdb;
  border-radius: 4px;
  display: none;
  z-index: 10;
}

.dropdown-option{
    display:block;
    padding: 2px;
    margin: 5px;
    height: 25px;
    overflow-x: hidden;
    overflow-y: hidden;
    z-index: 10;
}

.dropdown-option:hover{
  cursor: pointer;
  background: rgb(248, 215, 24, 0.7);
  border-radius: 4px;
}
/*******************************************************************
* End Of Dropdowns
*******************************************************************/



/*******************************************************************
* Nav Bar
*******************************************************************/
.topnav {
  overflow: hidden;
  background-color: #1a6600;
  height: 60px;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
  margin-top: 5px;
  display: inline;
}

.topnav a:hover {
  background-color: rgb(20,60,0);
  color: white;
  margin-top: 5px;
  border-radius: 7px;
}

.topnav a.active {
  background-color: #F8D718;
  color: black;
  border-radius: 7px;
  text-align: right;
}

.topnav a.name:hover {
  background-color: #1a6600;
}

.logo {
  float: left;
  padding: 1px;
  padding-left: 20px;
  height: 60px;
  background-color: #1a6600;
}

.topnav a.name {
  width: 300px;
  margin: 0;
  opacity:1.0;
  padding-right: 70px;
}

.right{
  float: right;
}
/*******************************************************************
* End Of Nav Bar
*******************************************************************/



/*******************************************************************
* Popop
*******************************************************************/
.popup-greyOut {
    display: none; 
    position: fixed; 
    z-index: 15; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0);  /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.popup-box {
    border-radius: 10px;
    background-color: white;
    /*height: 540px;  500px for content, 40 px for padding */
    width: 80%;     /* Could be more or less, depending on screen size */
    border: 2px solid black;
    border-radius: 5px;
    display: block; 
    padding: 10px;
    margin: 10% auto; /* 10% from the top and centered */
}

.popup-title {
    height: 40px;
    text-align: center;
    color: #1f6400;
}

.popup-content {
    padding: 10px;
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
}

.popup-buttons {
    height: 50px;
    padding-bottom: 10px;
}


.popup-buttons-cancel {
    float: left;
    width: 25%;
    margin-right: 50%;
}

.popup-buttons-add {
    float: left;
    text-align: center;
    border-color: black;
    width: 25%;
}
/*******************************************************************
* End Of Popup
*******************************************************************/




/*******************************************************************
* Slider
*******************************************************************/
.sliderContainer {
  width: 70%; /* Width of the outside container */
  float: left;
  z-index: 3;
}

.sliderContainer.sliderWidth{
  width: 50% !important;
}

.sliderLabel{
  float: left;
  width: 30%;
  font-size: 18px;
  font-weight: bold;
  color: #1a6600;
}


/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 5px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* override web appearances */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  border-radius: 50%;
  background: #F8D718;
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  border-radius: 50%;
  background: #F8D718; /* Gold background */
  cursor: pointer; /* Cursor on hover */
}
/*******************************************************************
* End Of Slider
*******************************************************************/




/*******************************************************************
* Table
*******************************************************************/
.table{
  width: 90%;
  padding: 25px;
  margin: auto;
}

table{
  border-collapse: seperate;
  border: 2px solid black;
  border-radius: 6px;
  -moz-border-radius: 6px;
}

.table-title{
  color: #1a6600;
  text-align: left;
  padding-left: 10px;
  padding-bottom: 5px;
  font-size: 18px;
  font-weight: bold;
}

th{
  text-align: center;
  padding: 10px;
  background-color: white !important;
  border-top: none;
}

td{
  text-align: center;
  padding: 10px;
}

tr:nth-child(even) {
  background-color: rgb(209,209,209);
}

tr:nth-child(odd) {
  background-color: rgba(31,100,0, 0.5);/*rgba(200, 200, 0, 0.5);*/
}

td:first-child, th:first-child {
  border-left: none;
}

.table-top{
  border-radius: 5px 10px 10px 5px;
}

.table-view{
  cursor: pointer;
}

.table-view:hover{
  color: white;   /*could be green too, white is very noticable*/
}
/*******************************************************************
* End Of Table
*******************************************************************/



/*******************************************************************
* Text Input
*******************************************************************/
.textInput{
  width: 90%;
  background-color: black;
  color: white;
  font-weight: medium;
  font-size: 13px;
  height: 40px;  /* Can be over written by second class */
  border-radius: 5px;
  padding-left: 10px;
  border: 1px solid black;
}

.textArea{
    resize: none;
    width: 90%;
    background-color: black;
    color: white;
    font-weight: medium;
    font-size: 13px;
    border-radius: 5px;
    padding-left: 10px;
    border: 1px solid black;
  }

/*******************************************************************
* End Of Text Input
*******************************************************************/