/*******************************************************************
* main.css -- styling for the main page of the website once admin has 
*             logged in
*                   
* Ryan Stolys,	26/06/20
*    - File Created
*
*******************************************************************/


#home-welcome{
  width: 50%;
  padding: 20px 50px;
  float: left;
}

#home-institution{
  width: 50%;
  padding: 20px 50px;
  float: left;
}

.home-title{
  padding: 25px;
}

.home-subTitle{
  padding: 15px;
}

@media only screen and (max-width: 750px) {
  #home-welcome{
    width: 100%;
    padding: 20px;
    text-align: center;
  }
  
  #home-institution{
    width: 100%;
    padding: 20px;
    text-align: center;
  }

  /* Adjust font sizes so that they look decent on smaller width screens */
  .title{
    font-size: 5vw;
  }
  
  .subTitle{
    font-size: 5vw;
  }
  
  .resultText{
    font-size: 5vw;
  }
}
