/*******************************************************************
* main.css -- styling for the main page of the website once admin has 
*             logged in
*                   
* Ryan Stolys,	26/06/20
*    - File Created
*
*******************************************************************/

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

body, html {
  height: 100%;
  margin: 0;
}

h1{
  color: white;
}

.bg {
  /* The image used */
  background-image: url('/images/gym.jpg');

  /* Full height */
  height: 100%; 
  margin-top: -21px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}