/*******************************************************************
* myDatepicker.css -- styling for the datepicker popup
*                   
* Ryan Stolys,	13/05/20
*    - File Created
*    - Inital Styling Added
*    - Styling Completed
*
* Ryan Stolys,	31/07/20
*    - Styling changed to match use in HOD app
*
*******************************************************************/

.datepickerFrame{
  position: absolute;
  width: 300px;
  height: 220px;
  background-color: rgb(196, 196, 196);
  border-radius: 5px;
  padding: 5px;
}

.hideDP{
  display: none;
}

.monthArrow:hover{
  cursor: pointer;
}

.col.dow{
  float: left;
  width: 14%
}

.row_wom{
  float: left;
  height: 14%
}

.daysOfWeek{
  background-color: #1a6600;
  border-radius: 5px;
  padding: 5px;
  color: white;
}

.daysOfMonth{
  padding: 2px;
  border-radius: 5px;
  border: 1px solid #1a6600;
}

.dom:hover{
  cursor: pointer;
  background-color: rgb(1, 118, 214);
  border-radius: 3px;
}
  
.col.s2{
  float: left;
  width:16.66666%
}

.col.s6{
  float: left;
  width:49.99999%

}