/*******************************************************************
* myDatepicker.css -- styling for the datepicker popup
*                   
* Ryan Stolys,	13/05/20
*    - File Created
*    - Inital Styling Added
*    - Styling Completed
*
* Ryan Stolys,	31/07/20
*    - Styling changed to match use in HOD app
*
* Ryan Stolys,	11/11/20
*    - Fixed bugs and reduced depencies outside of two datepicker files
*
*******************************************************************/

.datepickerFrame{
  position: absolute;
  width: 300px;
  height: 220px;
  background-color: rgb(196, 196, 196);
  border-radius: 5px;
  padding: 5px;
}

.daysOfWeek{
    background-color: #1a6600;
    border-radius: 5px;
    padding: 5px;
    color: white;
}

.daysOfMonth{
    padding: 2px;
    border-radius: 5px;
    border: 1px solid #1a6600;
}

.dom:hover{
    height:100%;
    cursor: pointer;
    background-color: #F8D718;
    border-radius: 3px;
}

.monthArrow:hover{
    cursor: pointer;
}
  
.col_dow{
    padding-top: 4px;
    float: left;
    width: 14%
}

.hideObj{
    display: none !important;
}
  
.hideText{
    color:rgba(255, 255, 255, 0) !important;
    opacity: 0 !important;
}