/*******************************************************************
* signIn.css -- styling for the signIn page of the website 
*                   
* Ryan Stolys,	10/07/20
*    - File Created
*
*******************************************************************/


body, html {
  height: 100%;
  margin: 0;
}

.bg {
  /* The image used */
  background-image: url('/images/gym.jpg');

  /* Full height */
  height: 100%; 
  margin-top: -21px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.signup {
  color: lightblue;
	text-align: middle;
  float:left;
  height: 60%;
  width: 100%
}

.prompt {
	background-color: rgba(180,180,180, 0.7);
	backdrop-filter: blur(2px);
	margin: 0 auto;
	margin-top: -10px;
	width: 470px;
	height: 540px;
	border: 1px solid #808080;
	border-radius: 7px;
}

.prompt .login_logo {
	width: 180px;
	height: 180px;
	position: relative;
	left: 145px;
	top: 30px;
}

::placeholder {
  color: #616161;
}

input[type="text"],[type="password"]
{
	position: relative;
  top: 60px;
  font-size: 21px;
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
  padding-left: 20px;
  padding-right: 20px;
  background-color: white;
 	color: black;
	font-weight: medium;
	height: 52px;
	border-radius: 7px;
	margin-bottom: 7px;
}

input[type="submit"]
{
	position: relative;
  top: 60px;
  margin-left: 25%;
  margin-right: 25%;
  font-size: 27px;
  font-weight: bold;
  background-color: #cccc00;
 	color: black;
	height: 72px;
	width: 50%;
	border: 10px;
	border: 1px solid #999900;
	border-radius: 7px;
	text-align: center;
}

.alert-error {
	position: relative;
	top: 185px;
	padding-top: 10px;
	text-align: center;
	color: white;

	background-color: #d22d2d;
	margin: 0 auto;
	width: 220px;
	height: 40px;
	border: 1px solid #808080;
	border-radius: 7px;
}

.forgot {
	position: relative;
  top: 50px;
  width: 26%;
  margin-left: 37%;
  margin-right: 37%;
	text-align: center;
	color: #404040;
}