/*******************************************************************
* slider.css -- styling for the sliders on website
*                   
*
* Ryan Stolys, 17/07/20
*    - File Created, Intial styling completed
*
*******************************************************************/


.sliderContainer {
  width: 70%; /* Width of the outside container */
  float: left;
  z-index: 3;
}

.sliderContainer.sliderWidth{
  width: 50% !important;
}

.sliderLabel{
  float: left;
  width: 30%;
  font-size: 18px;
  font-weight: bold;
  color: #1a6600;
}


/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 5px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* override web appearances */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  border-radius: 50%;
  background: #CCCC00;
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  border-radius: 50%;
  background: #CCCC00; /* Green background */
  cursor: pointer; /* Cursor on hover */
}


