/*******************************************************************
* table.css -- styling for the website tables 
*                   
* Ryan Stolys,	06/07/20
*    - File Created
*    - Styling added for tables on webpage
*
*******************************************************************/

.table{
  width: 90%;
  padding: 25px;
  margin: auto;
}

table{
  border-collapse: seperate;
  border: 2px solid black;
  border-radius: 6px;
  -moz-border-radius: 6px;
  
}

.table-title{
  color: #1a6600;
  text-align: left;
  padding-left: 10px;
  padding-bottom: 5px;
  font-size: 18px;
  font-weight: bold;
}

th{
  text-align: center;
  padding: 10px;
  background-color: white !important;
  border-top: none;
}

td{
  text-align: center;
  padding: 10px;
}

tr:nth-child(even) {
  background-color: rgb(209,209,209);
}

tr:nth-child(odd) {
  background-color: rgba(31,100,0, 0.5);/*rgba(200, 200, 0, 0.5);*/
}

td:first-child, th:first-child {
  border-left: none;
}

.table-top{
  border-radius: 5px 10px 10px 5px;
}

.table-view{
  cursor: pointer;
}

.table-view:hover{
  color: white;   /*could be green too, white is very noticable*/
}

/**************TABLE WIDTHS************************************************************/
/*Teams*/
.table-team_name{
  width: 40%;
}

.table-team_sex{
  width: 14%;
}

.table-team_NoV{
  width: 21%;
}

.table-team_Vhrs{
  width: 20%;
}

.table-team_view{
  width: 5%;
}


/*Volunteers*/
.table-volunteers_name{
  width: 25%;
}

.table-volunteers_email{
  width: 25%;
}

.table-volunteers_team{
  width: 20%;
}

.table-volunteers_Vhrs{
  width: 20%;
}

.table-volunteers_view{
  width: 5%;
}


/*Oppourtunities*/
.table-oppourtunity_title{
  width: 35%;
}

.table-oppourtunity_type{
  width: 20%;
}

.table-oppourtunity_numVol{
  width: 15%;
}

.table-oppourtunity_date{
  width: 15%;
}

.table-oppourtunity_time{
  width: 10%;
}

.table-oppourtunity_view{
  width: 5%;
}