/*******************************************************************
* textInput.css -- styling for the input fields on website
*                   
*
* Ryan Stolys, 10/08/20
*    - File Created
*    - Intial styling completed
*
*******************************************************************/


.textInput{
  width: 90%;
  background-color: white;
  color: black;
  font-weight: medium;
  height: 40px;  /* Can be over written by second class */
  border-radius: 5px;
  padding-left: 10px;
  border: 1px solid black;
}

.search input[type=text]:focus {
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
}
