<div class="navigationBar">
    <a href="/"><img src="../images/HOD_Logo.svg" class="logo"/></a>
    <div class="topnav">
        <a href="/" class="name">Hands-On-Deck Volunteering</a>
        <div class="right">
            <a href="/home" <% if (home) { %> class="active"<% } %>><i class="fas fa-home"></i>  Home</a>
            <a href="/opportunities" <% if (opps) { %> class="active"<% } %>><i class="fas fa-hands-helping"></i> Opportunities</a>
            <a href="/volunteers" <% if (volunt) { %> class="active"<% } %>><i class="fas fa-user"></i> Volunteers</a>
            <a href="/teams" <% if (teams) { %> class="active"<% } %>><i class="fas fa-users"></i> Teams</a>
            <a href="/settings" <% if (settings) { %> class="active"<% } %>><i class="fas fa-cogs"></i> Settings</a>
            <a id="logoutButton">Log out</a>
        </div>
    </div>
</div>