<div class="navigationBar">
      <a href="/"><img src="../images/HOD_Logo.png" class="logo"/></a>
      <div class="topnav">
        <a href="/" class="name">Hands-On-Deck Volunteering</a>
        <div class="right">
          <a href="/home" <% if (home) { %> class="active"<% } %>>Home</a>
          <a href="/oppourtunities" <% if (opps) { %> class="active"<% } %>>Opportunities</a>
          <a href="/volunteers" <% if (volunt) { %> class="active"<% } %>>Volunteers</a>
          <a href="/teams" <% if (teams) { %> class="active"<% } %>>Teams</a>
          <a id="logoutButton">Log out</a>
        </div>
      </div>
    </div>