<div class="navigationBar">
      <a href="/"><img src="../images/HOD_Logo.png" class="logo"/></a>
      <div class="topnav">
        <a href="/" class="name">Hands-On-Deck Volunteering</a>
        <div class="right">
          <a href="/index" class="active">Home</a>
          <a href="/oppourtunities">Opportunities</a>
          <a href="/volunteers">Volunteers</a>
          <a href="/teams">Teams</a>
          <a id="logoutButton">Log out</a>
        </div>
      </div>
    </div>