<div class="navigationBar">
      <a href="/"><img src="../images/HOD_Logo.png" class="logo"/></a>
      <div class="topnav">
        <a href="/" class="name">Hands-on-Deck Volunteering</a>
        <div class="right">
          <a href="/index.html" class="active">Home</a>
          <a href="/oppourtunities.html">Opportunities</a>
          <a href="/volunteers.html">Volunteers</a>
          <a href="/teams.html">Teams</a>
          <a id="logoutButton">Log out</a>
        </div>
      </div>
    </div>