<div class="navigationBar">
    <a href="/"><img src="../images/HOD_Logo.svg" class="logo"/></a>
    <div class="topnav">
        <a href="/" class="name">Hands-On-Deck Volunteering</a>
        <div class="right">
            <a href="/" <% if (home) { %> class="active"<% } %>><i class="fas fa-home"></i>  Home</a>
            <a href="/privacy" <% if (privacy) { %> class="active"<% } %>><i class="fas fa-hands-helping"></i> Privacy</a>
            <a href="/about" <% if (about) { %> class="active"<% } %>><i class="fas fa-user"></i> About</a>
            <a href="/signIn" <% if (signin) { %> class="active"<% } %>><i class="fa fa-sign-in" aria-hidden="true"></i> Sign In</a>
        </div>
    </div>
</div>