<!-------------------------------------------------------------
- landing.ejs -- the unauthenticated home page 
-
- Ryan Stolys, 31/08/21
-     - Created Page 
-
-------------------------------------------------------------->

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Style Sheets -->
        <link rel="stylesheet" href="../css_files/general.css"> 
        <link rel="stylesheet" href="../css_files/components.css"> 
        <link rel="stylesheet" href="../css_files/publicPages.css">

        <!-- Font Awesome 6-->
        <script src="https://kit.fontawesome.com/30087e3184.js" crossorigin="anonymous"></script>

        <!-- Scripts -->


        <!-- Page Title -->
        <title>Hands On Deck - About</title>

    </head>

    <body class="bg">

        <!--Add navigation bar-->
        <%- include ("../partials/publicNav.ejs") %>

        <div id="loader" style="display:none;"></div>

        <div class="privacyPolicy">
            <div class="topTitle">
                <h1>The Hands-On-Deck Volunteer Tracker is Open Source!</h1>
            </div>
        </div>

        <div class="col_100p">
            <div class="aboutTitle">
                <h3>Github Project</h3>
            </div>
            <div class="aboutInfo">
                <ul>
                    <li><a class="linkText" href="https://github.com/handsondecksoftware">Hands-On-Deck Software Github Organization</a></li>
                    <li><a class="linkText" href="https://github.com/handsondecksoftware/hands-on-deck">API and Web Repository</a></li>
                    <li><a class="linkText" href="https://github.com/handsondecksoftware/HODApp">React Native App targeting iOS and Android devices</a></li>
                </ul>
            </div>
        </div>

        <div class="col_100p">
            <div class="aboutTitle">
                <h3>Technologies Used</h3>
            </div>
            <div class="aboutInfo">
                <ul>
                    <li><a class="linkText" href="https://reactnative.dev">React Native</a></li>
                    <li><a class="linkText" href="https://www.heroku.com/about">Heroku Cloud Application Platform</a></li>
                    <li><a class="linkText" href="https://nodejs.org/en/">Node JS</a></li>
                    <li><a class="linkText" href="https://expressjs.com">Express JS</a></li>
                    <li><a class="linkText" href="https://www.postgresql.org">PostgreSQL</a></li>
                </ul>
            </div>
        </div>

        <div class="col_100p marginBottom25">
            <div class="aboutTitle">
                <h3>About Us</h3>
            </div>
            <div class="aboutInfo">
                We are a group of students from <a class="linkText" href="https://www.sfu.ca">Simon Fraser University (SFU)</a> that joined together to complete this project in our spare time. 
                We are all tech focused students pursuing or having completed degrees in computer engineering or computer science.
                <br><br>
                This project idea came from a need to find a better way to organize volunteers for the <a class="linkText" href="https://athletics.sfu.ca/sports/saac">SFU Student Athlete Advisory Committee (SAAC)</a>.
                The goal of this project was to provide a low barrier simple method for volunteers to find and sign up for volunteering activities. 
                With that guiding our thoughts we set out to build Hands-On-Deck: A simple volunteer tracking system built around the volunteer and allowing institutions to focus on their mission.
                <br><br>
                This project began in the summer of 2020 during the COVID-19 pandemic. With everyone on our team taking classes online or working in a co-op placement we committmented to meeting weekly and 
                making slow but steady progress. With a firm deadline ahead of the 2021 fall semester at SFU we were able to complete the large majority of our work prior to the summer of 2021 leaving only small 
                tasks remaining to complete ahead of our scheduled lauch date which were completed on scheudle.
                <br><br>
                Below we have an overview of each of the team member's contributions and how you can learn more about them.
            </div>
        </div>
        <div class="col_100p marginBottom25">
            

            <div class="aboutTitle">
                <h3>Meet The Team</h3>
            </div>
            <div class="aboutInfo">
                <div class="aboutIndividualTitle">
                    <div class="aboutName">
                        <b>Name</b>
                    </div>
                    <div class="aboutTasks">
                        <b>Responsibilities/ Contributions</b>
                    </div>
                    <div class="aboutDetails">
                        <b>Links</b>
                    </div>
                </div>
                <div class="aboutIndividual">
                    <div class="aboutName">
                        Ryan Stolys
                    </div>
                    <div class="aboutTasks">
                        <ul>
                            <li>Project Management</li>
                            <li>Main System Design and Architecture</li>
                            <li>Web Front-End Development</li>
                            <li>Back-End/ API Development</li>
                            <li>Database Design (Minor)</li>
                            <li>React Native App Development (Minor)</li>
                        </ul>
                    </div>
                    <div class="aboutDetails">
                        <ul>
                            <li><a class="linkText" href="https://github.com/rstolys">GitHub</li>
                            <li><a class="linkText" href="https://www.linkedin.com/in/ryan-stolys/">LinkedIn</li>
                        </ul>
                    </div>
                </div>
                <div class="aboutIndividual">
                    <div class="aboutName">
                        Denys Dziubii
                    </div>
                    <div class="aboutTasks">
                        <ul>
                            <li>System Design</li>
                            <li>Back-End/ API Development</li>
                            <li>Database Design</li>
                        </ul>
                    </div>
                    <div class="aboutDetails">
                        <ul>
                            <li><a class="linkText" href="https://github.com/themennice">GitHub</li>
                            <li><a class="linkText" href="https://www.linkedin.com/in/denysdziubii/">LinkedIn</li>
                        </ul>
                    </div>
                </div>
                <div class="aboutIndividual">
                    <div class="aboutName">
                        Angad Aujla
                    </div>
                    <div class="aboutTasks">
                        <ul>
                            <li>React Native App Development</li>
                        </ul>
                    </div>
                    <div class="aboutDetails">
                        <ul>
                            <li><a class="linkText" href="https://github.com/angadaujla">GitHub</li>
                            <li><a class="linkText" href="https://www.linkedin.com/in/angad-singh-aujla-064243173/">LinkedIn</li>
                        </ul>
                    </div>
                </div>
                <div class="aboutIndividual">
                    <div class="aboutName">
                        Jayden Cole
                    </div>
                    <div class="aboutTasks">
                        <ul>
                            <li>Web Front-End Development</li>
                            <li>Back-End/ API Development</li>
                        </ul>
                    </div>
                    <div class="aboutDetails">
                        <ul>
                            <li><a class="linkText" href="https://github.com/JaydenCole-55">GitHub</li>
                            <li><a class="linkText" href="https://www.linkedin.com/in/jayden-cole/">LinkedIn</li>
                        </ul>
                    </div>
                </div>
                <div class="aboutIndividual">
                    <div class="aboutName">
                        Ronnie Hung
                    </div>
                    <div class="aboutTasks">
                        <ul>
                            <li>Database Design Validation</li>
                            <li>React Native App Development (Minor)</li>
                        </ul>
                    </div>
                    <div class="aboutDetails">
                        <ul>
                            <li><a class="linkText" href="https://github.com/ronniehung">GitHub</li>
                            <li><a class="linkText" href="https://www.linkedin.com/in/ronniehung/">LinkedIn</li>
                        </ul>
                    </div>
                </div>
                <div class="aboutIndividual">
                    <div class="aboutName">
                        Yogesh Mundhra
                    </div>
                    <div class="aboutTasks">
                        <ul>
                            <li>System Design and Architecture Validation</li>
                        </ul>
                    </div>
                    <div class="aboutDetails">
                        <ul>
                            <li><a class="linkText" href="https://github.com/yogesh1202">GitHub</li>
                            <li><a class="linkText" href="https://www.linkedin.com/in/yogeshmundhra/">LinkedIn</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </body>
  
</html>