<!-------------------------------------------------------------
- home.html -- homepage for the website once admin is logged in
-
- Ryan Stolys, 26/06/20
-     - Created Page 
- Denys Dziubii,	30/06/20
-     - Navigation bar development 
-
-------------------------------------------------------------->

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Style Sheets -->
        <link rel="stylesheet" href="../css_files/general.css"> 
        <link rel="stylesheet" href="../css_files/home.css"> 
        <link rel="stylesheet" href="../css_files/components.css"> 

        <!-- Font Awesome 6-->
        <script src="https://kit.fontawesome.com/30087e3184.js" crossorigin="anonymous"></script>

        <!-- Scripts -->
        <script src="../js_files/general.js"></script>
        <script src="../js_files/logout.js"></script>
        <script src="../js_files/home.js"></script>

        <!-- Page Title -->
        <title>Hands On Deck - Home</title>

    </head>



    <body onload="init()">

        <%- include ("../partials/nav.ejs") %>

        <div id="loader" style="display:none;"></div>

        <div class="pageContainer">
            <div class="infoBar">
                <div class="info-element">
                    <div class="info-title-name subTitle3">Institution:</div>
                    <div id="instituionName" class="info-value-name subTitle3_black">Loading...</div>
                </div>
                <div class="info-element">
                    <div class="info-title-num subTitle3">Volunteers:</div>
                    <div id="numVolunteers" class="info-value-num subTitle3_black">Loading...</div>
                </div>
                <div class="info-element">
                    <div class="info-title-num subTitle3">Total Hours:</div>
                    <div id="totalHours" class="info-value-num subTitle3_black">Loading...</div>
                </div>
            </div>
            <div class="boxContainer">
                <div class="navBoxContainer">
                    <a class="navBox green_h" href="/opportunities">
                        <div class="navBox-text"><i class="fas fa-hands-helping"></i>  Opportunities</div>
                    </a>
                </div>
                <div class="navBoxContainer">
                    <a class="navBox gold_h" href="/volunteers">
                        <div class="navBox-text"><i class="fas fa-user"></i>  Volunteers</div>
                    </a>
                </div>
                <div class="navBoxContainer">
                    <a class="navBox gold_h" href="/teams">
                        <div class="navBox-text"><i class="fas fa-users"></i>  Teams</div>
                    </a>
                </div>
                <div class="navBoxContainer">
                    <a class="navBox green_h" href="/settings">
                        <div class="navBox-text"><i class="fas fa-cogs"></i>  Settings</div>
                    </a>
                </div>
            </div>
        </div>

        <div id="logout" style="display:none"></div>

    </body>
</html>