<!-------------------------------------------------------------
- oppourtunties.html -- oppourtunties page
-
- Ryan Stolys, 27/06/20
-     - Created Page 
-
-------------------------------------------------------------->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Style Sheets -->
    <link rel="stylesheet" href="../css_files/general.css"> 
    <link rel="stylesheet" href="../css_files/oppourtunties.css">
    <link rel="stylesheet" href="../css_files/components.css"> 
    <link rel="stylesheet" href="../css_files/myDatepicker.css">

    <!-- Font Awesome 6-->
    <script src="https://kit.fontawesome.com/30087e3184.js" crossorigin="anonymous"></script>

    <!-- Scripts -->
    <script src="../js_files/oppourtunities.js"></script>
    <script src="../js_files/slider.js"></script>
    <script src="../js_files/dropdown.js"></script>
    <script src="../js_files/general.js"></script>
    <script src="../js_files/logout.js"></script>
    <script src="../js_files/myDatepicker.js"></script>


    <!-- Page Title -->
    <title>Hands On Deck - Oppourtunties</title>

  </head>

  <body onload="init()">

    <!--Add navigation bar-->
    <%- include ("../partials/nav.ejs") %>

    <div class="pageContainer">

        <!-- View all opportunities -->
        <div  id="opportunitiesMainPage" class="pageContainer">
            <div class="addOppButton">
            <button class="button" id="addOppourtunityButton">Add Oppourtunity</button>
            </div>

            <div class="searchOppourtunity paddingTop5 search">
        <input class="textInput" placeholder="Search" id="searchOppourtunities">
            </div>

            <div class="sortOppourtunity">
        <div class="sliderLabel" id="oppTimeFrameLabel">Present</div>
        <div class="sliderContainer sliderWidth">
          <input type="range" min="0" max="2" value="1" class="slider" id="oppTimeFrame">
        </div>
            </div>

            <div id="oppourtuntiesTableDiv" class="table"> 
        <span class="table-title">Oppourtunities:</span>
        <table id="oppourtuntiesTable"> 
          <tr>
            <th class="width30">Title</th>
            <th class="width20">Type</th>
            <th class="width15">Number of Volunteers</th>
            <th class="width15">Date</th> 
            <th class="width10">Time</th> 
            <th class="width5">View</th>
            <th class="width5">Delete</th> 
          </tr>
        </table>
            </div>
        </div>

        <!-- Used for viewing the opportunity-->
        <div id="viewVolunteersForOpportunityHeader" class="row_30p"  style="display:none">
            <div class="row_10p">
                <div class="col_33p subTitle2 text-center">Title</div>
                <div class="col_33p subTitle2 text-center">Start</div>
                <div class="col_33p subTitle2 text-center">End</div>
            </div>
            <div class="row_20p">
                <div class="col_33p blackDisplayField text-center" id="viewOpp_title">Opportunity Title</div>
                <div class="col_33p blackDisplayField text-center" id="viewOpp_startTime">3:00pm 27/08/2020</div>
                <div class="col_30p blackDisplayField text-center" id="viewOpp_endTime">4:00pm 27/08/2020</div>
            </div>
            <div class="row_20p">
                <div class="col_10p subTitle2"> </div>
                <div class="col_10p subTitle2 paddingTop5">Type:</div>
                <div class="col_30p blackDisplayField paddingTop5" id="viewOpp_type">Student engagement</div>
                <div class="col_30p subTitle2 paddingTop5" style="text-align:right;">Volunteer Limit:</div>
                <div class="col_15p blackDisplayField" style="text-align:left; padding-bottom: 5p" id="viewOpp_volLimit">15</div>
            </div>
            <div class="row_20p">
                <div class="col_12_5p subTitle2 paddingTop5">Viewable By:</div>
                <div class="col_33p blackDisplayField" id="viewOpp_viewableBy">Teams</div>
                <div class="col_25p subTitle2 paddingTop5">Coordinator Information:</div>
                <div class="col_25p blackDisplayField" id="viewOpp_coordinatorName">Name</div>
            </div>
            <div class="row_20p">
                <div class="col_15p subTitle2"></div>
                <div class="col_30p subTitle2"></div>
                <div class="col_25p blackDisplayField" id="viewOpp_coordinatorEmail">Email</div>
                <div class="col_25p blackDisplayField" id="viewOpp_coordinatorPhone">Phone #</div>
            </div>
            <div class="row_10p"></div>
        </div>
            
        <div id="viewVolunteersForOppourtunityTableDiv" class="table"> 
            <span class="table-title">Volunteers:</span>
            <table id="viewVolunteersForOppourtunityTable"> 
              <tr>
                <th class="width25">Name</th>
                <th class="width25">Email</th>
                <th class="width25">Team</th>
                <th class="width25">Hours</th> 
              </tr>
            </table>
        </div>

        <button id="returnToOppListButt" class="button" style="width:20%; display:none"> Return to Opportunities</button>

        <!-- Pop up box for adding opportunities -->
        <div id="addOppourtunityPopup" class="popup-greyOut" style="display:none">
          <div class="popup-box">
              <div class="popup-title" >
                  <h1>Add Oppourtunity</h1>
              </div>
              <div class="popup-content">
                  
                <div class="col_50p row_100p">
                  <div class="row_25p">
                    <div class="col_25p subTitle2"> Title:</div>
                    <div class="col_75p"> 
                      <input class="textInput" type="text" placeholder="Title" id="addOppourtuntiy-title">
                    </div>
                  </div>
                  <div class="row_25p">
                    <div class="col_25p subTitle2"> Date:</div>
                    <div class="col_75p"> 
                      <input class="textInput" type="text" placeholder="YYYY-MM-DD" id="addOppourtunity-date">
                      <div id="addOppourtunityDatePicker" class="hideDP" style="z-index:10"></div>
                    </div>
                  </div>
                  <div class="row_25p">
                    <div class="col_25p subTitle2"> Time:</div>
                    <div class="col_37p">
                      <input class="textInput" type="text" placeholder="Start Time" id="addOppourtunity-startTime">
                    </div>
                    <div class="col_37p">
                      <input class="textInput" type="text" placeholder="End Time" id="addOppourtunity-endTime">
                    </div>
                  </div>
                  <div class="row_25p">
                    <div class="col_25p subTitle2"> Type:</div>
                    <div class="col_75p"> 
                      <div class="dropdown">
                        <button id="addOppourtunityType" class="dropdown-button"><span id="dropdown-title-addOppourtunityType">  Select Type... </span><i class="fa fa-angle-right" id="dropdown-arrow-addOppourtunityType"></i></button>
                        <div id="addOppourtunityTypeOptions" class="dropdown-content">
                          <!--Will dynmaically add options here-->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col_50p row_100p">
                  <div class="row_25p">
                    <div class="col_33p subTitle2"> Viewable By:</div>
                    <div class="col_66p"> 
                      <div class="dropdown">
                        <button id="addOppourtunityViewableBy" class="dropdown-button"><span id="dropdown-title-addOppourtunityViewableBy">  All Teams</span><i class="fa fa-angle-right" id="dropdown-arrow-addOppourtunityViewableBy"></i></button>
                        <div id="addOppourtunityViewableByOptions" class="dropdown-content">
                          <!--Will dynmaically add options here-->
                          <a id="addOppourtunityViewableByOptions_option_0" class="dropdown-option">All Teams</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row_25p">
                    <div class="col_33p subTitle2"> Volunteer Limit:</div>
                    <div class="col_66p"> 
                      <div class="sliderContainer sliderWidth">
                        <input type="range" min="0" max="15" value="15" class="slider" id="addOppourtunityVolunteerLimit">
                      </div>
                      <div class="sliderLabel marginLeft5" id="addOppourtunityVolunteerLimitLabel">No Limt</div>
                    </div>
                  </div>
                  <div class="row_50p">
                    <div class="row_20p subTitle2"> Coordinator Information</div>
                    <div class="row_40p"> 
                      <div class="col_50p"> 
                        <input class="textInput" type="text" placeholder="Name" id="addOppourtunity-coordinatorName">
                      </div>
                      <div class="col_50p"> 
                        <input class="textInput" type="text" placeholder="Email" id="addOppourtunity-coordinatorEmail">
                      </div>
                    </div>
                    <div class="row_40p"> 
                      <input class="textInput" type="text" placeholder="Phone Number" id="addOppourtunity-coordinatorPhoneNumber">
                    </div>
                  </div>
                </div>

              </div>
              <div class="popup-buttons">
                  <div class="popup-buttons-cancel"><button class="button" id="cancelOppourtunityChoice">Cancel</button></div>
                  <div class="popup-buttons-add"><button class="button" id="addOppourtunityChoice">Add</button></div>
              </div>
          </div>
        </div>

        <!-- Pop up box for logging out -->
        <div id="logoutPopup" class="popup-greyOut" style="display:none">
        <div class="logout-popup">
            <div class="logout-content subTitle">
                Are you sure you want to logout?
            </div>
            <div class="logout-buttons">
                <div class="popup-buttons-cancel"><button class="button" id="cancelLogoutChoice">Cancel</button></div>
                <div class="popup-buttons-add"><button class="button" id="yesLogoutChoice">Yes</button></div>
            </div>
        </div>
        </div>

    </div>

    <!-- Load React. -->
    <!-- Note: when deploying, replace "development.js" with "production.min.js". -->
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>

    <!-- Add React js scripts here -->
  </body>
  
</html>