<!-------------------------------------------------------------
- settings.html -- settings for the website
-
- Ryan Stolys, 18/01/21
-     - Created Page 
-
-------------------------------------------------------------->

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Style Sheets -->
        <link rel="stylesheet" href="../css_files/general.css"> 
        <link rel="stylesheet" href="../css_files/settings.css"> 
        <link rel="stylesheet" href="../css_files/components.css"> 

        <!-- Font Awesome 6-->
        <script src="https://kit.fontawesome.com/30087e3184.js" crossorigin="anonymous"></script>

        <!-- Scripts -->
        <script src="../js_files/general.js"></script>
        <script src="../js_files/logout.js"></script>
        <script src="../js_files/slider.js"></script>
        <script src="../js_files/settings.js"></script>

        <!-- Page Title -->
        <title>Hands On Deck - Settings</title>

    </head>



    <body onload="init()">

        <%- include ("../partials/nav.ejs") %>

        <div id="loader" style="display:none;"></div>

        <div class="pageContainer">
            <div class="settingType">Institution Settings</div>
            <div class="settingContainer">
                <div class="settingTitle">Name:</div>
                <div class="settingInput">
                    <input class="textInput" type="text" placeholder="Name" id="instiution-name">
                </div>
            </div>
            <div class="settingContainer">
                <div class="settingTitle">Location:</div>
                <div class="settingInput">
                    <input class="textInput" type="text" placeholder="Location" id="instiution-location">
                </div>
            </div>
            <div class="settingSaveBtn">
                <button class="button settingBtnWidth" id="saveInstitutionSettings">Save Institution Settings</button>
            </div>
            
            <div class="settingType settingDivide">Personal Settings</div>
            <div class="settingContainer">
                <div class="settingTitle">Name:</div>
                <div class="settingInput">
                    <input class="textInput" type="text" placeholder="Name" id="personal-name">
                </div>
            </div>
            <div class="settingContainer">
                <div class="settingTitle">Leaderboards:</div>
                <div class="settingInput paddingTop10">
                    <div class="sliderLabel" id="settingLeaderboardsLabel">Don't Include</div>
                    <div class="sliderContainer sliderWidth">
                        <input type="range" min="0" max="1" value="0" class="slider" id="settingLeaderboards">
                    </div>
                </div>
            </div>
            <div class="settingContainer">
                <div class="settingTitle">Email:</div>
                <div class="settingInput">
                    <input class="textInput" type="text" placeholder="Email" id="personal-email">
                </div>
            </div>
            <div class="settingContainer">
                <div class="settingTitle">Password:</div>
                <div class="settingInput">
                    <button class="button" id="changePassword">Change Password</button>
                </div>
            </div>
            <div class="settingSaveBtn">
                <button class="button settingBtnWidth" id="savePersonalSettings">Save Personal Settings</button>
            </div>
        </div>

        <!-- Pop up box for viewing volunteer involvement in oppourtunity -->
        <div id="changePasswordPopup" class="popup-greyOut" style="display:none">
            <div class="popup-box">
                <div class="popup-title" >
                    <h1 id="volunteerInvolvement-name">Change Password</h1>
                </div>
                <div class="popup-content" style="height: 175px">
                    
                    <div class="row_33p">
                        <div class="row_100p col_40p">
                            <div class="passwordPrompt">Old Password</div>
                        </div>
                        <div class="row_100p col_60p">
                            <input class="textInput" type="text" placeholder="Old Password" id="password-old">
                        </div>
                    </div>

                    <div class="row_33p">
                        <div class="row_100p col_40p">
                            <div class="passwordPrompt">New Password</div>
                        </div>
                        <div class="row_100p col_60p">
                            <input class="textInput" type="text" placeholder="New Password" id="password-new">
                        </div>
                    </div>

                    <div class="row_33p">
                        <div class="row_100p col_40p">
                            <div class="passwordPrompt">Repeat New Password</div>
                        </div>
                        <div class="row_100p col_60p">
                            <input class="textInput" type="text" placeholder="Repeat Password" id="password-new2">
                        </div>
                    </div>
                    

                </div>
                <div class="popup-buttons">
                    <div class="popup-buttons-cancel"><button class="button" id="closePasswordPopup">Cancel</button></div>
                    <div class="popup-buttons-add"><button class="button" id="confirmChangePassword">Change</button></div>
                </div>
            </div>
        </div>

        <div id="logout" style="display:none"></div>

    </body>
</html>