<!-------------------------------------------------------------
- signIn.html -- signin page
-
- Ryan Stolys, 27/06/20
-     - Created Page 
-
-------------------------------------------------------------->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Style Sheets -->
    <link rel="stylesheet" href="../css_files/general.css"> 
    <link rel="stylesheet" href="../css_files/signIn.css">
    <link rel="stylesheet" href="../css_files/navBar.css"> 

    <!-- Font Awesome 6-->
    <script src="https://kit.fontawesome.com/30087e3184.js" crossorigin="anonymous"></script>

    <!-- Scripts -->


    <!-- Page Title -->
    <title>Hands On Deck - Sign In</title>

  </head>

  <body>

    <!--Add navigation bar-->
    <div class="navigationBar">
      <a href="/"><img src="../images/HOD_Logo.png" class="logo"/></a>
      <div class="topnav">
        <a href="/" class="name">Hands-On-Deck Volunteering</a>
        <div class="right" style="padding-right: 20px;">
          <a href="/" class="active">Sign In</a>
        </div>
      </div>
    </div>

    <div class="bg">
      <h1> &nbsp </h1>

      <div class="prompt">
        <a><img src="../images/HOD_Logo.png" class="login_logo"/></a>
        <div class="signup">
          <form action="/signIn" method="post">
            <input type="text" id="username" name="username" placeholder="Username" required /><br><br>
            <input type="password" id="password" name="password" placeholder="Password" required /><br><br>
            <input type="submit" value="Sign In"><br><br>
            <a href="/signIn" class="forgot" >Forgot Password</a>
            <% if (message) { %>
                <div class="alert-error"><%= message %></div>
              <% } %>
          </form> 
        </div>
      </div>

    </div>

    <!-- Blur box for sign in page -->




    <!-- Load React. -->
    <!-- Note: when deploying, replace "development.js" with "production.min.js". -->
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>

    <!-- Add React js scripts here -->
  </body>

  <style>
    .center{
      text-align: center;
      margin-top: 20%;
    }
  </style>
  
</html>