<!-------------------------------------------------------------
- signIn.html -- signin page
-
- Ryan Stolys, 27/06/20
-     - Created Page 
-
-------------------------------------------------------------->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Style Sheets -->
    <link rel="stylesheet" href="../css_files/general.css"> 
    <link rel="stylesheet" href="../css_files/signIn.css">
    <link rel="stylesheet" href="../css_files/components.css"> 

    <!-- Font Awesome 6-->
    <script src="https://kit.fontawesome.com/30087e3184.js" crossorigin="anonymous"></script>

    <!-- Scripts -->


    <!-- Page Title -->
    <title>Hands On Deck - Sign In</title>

  </head>

  <body>

    <!--Add navigation bar-->
    <div class="navigationBar">
      <a href="/"><img src="../images/HOD_Logo.svg" class="logo" alt="Hands on Deck Logo"/></a>
      <div class="topnav">
        <a href="/" class="name">Hands-On-Deck Volunteering</a>
        <div class="right" style="padding-right: 20px;">
          <a href="/" class="active">Sign In</a>
        </div>
      </div>
    </div>

    <div id="loader" style="display:none;"></div>

    <div class="bg">

        <div class="signIn-prompt blurBox5">
        <div class="row_30p">
            <div class="text-center">
                <img src="../images/HOD_Logo.svg" width="175" height="175" class="signIn-logo" alt="Hands on Deck Logo"/>          
            </div>
        </div>
        <div class="row_70p paddingTop10">
            <form class="row_100p" action="/api/signIn" method="post">
                <div class="row_30p signIn-input">
                    <div class="subTitle3">  Username:</div>
                    <input class="textInput" type="text" id="username" name="username" placeholder="Username" required />
                </div>
                <div class="row_30p signIn-input">
                    <div class="subTitle3">  Password:</div>
                    <input class="textInput" type="password" id="password" name="password" placeholder="Password" required />
                    <input type="hidden" id="isMobile" name="isMobile" value="false" required />
                </div>
                <div class="row_25p signIn-submit">
                    <input class="button" type="submit" value="Sign In">
                </div>
                <div class="row_15p signIn-forgotPassword">
                    <a href="/signIn" style="color:black;">  Forgot Password</a>
                    <div class="marginTop5">
                    <% if (message) { %>
                        <div class="signIn-errorAlert"><%= message %></div>
                        <% } %>
                    </div>
                </div>
            </form> 
        </div>
        </div>

    </div>

    <!-- Load React. -->
    <!-- Note: when deploying, replace "development.js" with "production.min.js". -->
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>

    <!-- Add React js scripts here -->
  </body>
  
</html>