<!-------------------------------------------------------------
- teams.html -- teams page
-
- Ryan Stolys, 27/06/20
-     - Created Page 
-
-------------------------------------------------------------->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Style Sheets -->
    <link rel="stylesheet" href="../css_files/general.css"> 
    <link rel="stylesheet" href="../css_files/teams.css">
    <link rel="stylesheet" href="../css_files/components.css"> 

    <!-- Font Awesome 6-->
    <script src="https://kit.fontawesome.com/30087e3184.js" crossorigin="anonymous"></script>

    <!-- Scripts -->
    <script src="../js_files/teams.js"></script>
    <script src="../js_files/slider.js"></script>
    <script src="../js_files/logout.js"></script>



    <!-- Page Title -->
    <title>Hands On Deck - Teams</title>

  </head>

  <body onload="init()">

    <!--Add navigation bar-->
    <%- include ("../partials/nav.ejs") %>

    <div class="pageContainer">

        <!-- Team Main Page -->
        <div id="teamMainPage">
            <div style="height: 60px">
                <div class="addTeamButton">
                <button class="button" id="addTeamButton">Add Team</button>
                </div>

                <div class="searchTeam paddingTop7 search">
                <input class="textInput" type="text" placeholder="Search" id="searchTeams">
                </div>
            </div>

            <!-- Will display all of the teams for the specific institution-->
            <div class="table"> 
                <span class="table-title">Teams:</span>
                <table id="teamsTable"> 
                <tr class="table-top">
                    <th class="width40">Team Name</th>
                    <th class="width10">Sex</th>
                    <th class="width20">Number of Volunteers</th>
                    <th class="width20">Volunteer Hours</th> 
                    <th class="width5">View</th>
                    <th class="width5">Delete</th> 
                </tr>
                <tr>
                    <td>Golf</td>
                    <td>Men</td> 
                    <td>9</td>
                    <td>54</td>
                    <td><i class="fas fa-eye table-view" onclick="viewTeam()"></i></td> 
                    <td><i class="fa fa-trash table-view" onclick="deleteTeam()"></i></td>
                </tr>
                <tr>
                    <td>Golf</td>
                    <td>Women</td> 
                    <td>9</td>
                    <td>59</td>
                    <td><i class="fas fa-eye table-view" onclick="viewTeam()"></i></td> 
                    <td><i class="fa fa-trash table-view" onclick="deleteTeam()"></i></td>
                </tr>
                <tr>
                    <td>Swimming</td>
                    <td>Women</td> 
                    <td>18</td>
                    <td>101</td>
                    <td><i class="fas fa-eye table-view" onclick="viewTeam()"></i></td> 
                    <td><i class="fa fa-trash table-view" onclick="deleteTeam()"></i></td>
                </tr>
                <tr>
                    <td>Swimming</td>
                    <td>Men</td> 
                    <td>19</td>
                    <td>71</td>
                    <td><i class="fas fa-eye table-view" onclick="viewTeam()"></i></td> 
                    <td><i class="fa fa-trash table-view" onclick="deleteTeam()"></i></td>
                    </tr>
                </table>
            </div>
        </div>


        <!-- View Team Page -->
        <div id="viewTeamPage" style="display:none">

            <div style="height:125px; margin-left:10%;">
                <div class="row_60p">
                <div class="col_50p">
                    <div class="col_33p subTitle2"  style="padding-top: 2%;">Team Name:</div>
                    <div class="col_66p">
                    <div class="blackDisplayField" id="teamInfo-name"></div>
                    </div>
                </div>
                <div class="col_50p">
                    <div class="col_30p subTitle2" style="padding-top: 2%;">Sex:</div>
                    <div class="col_50p">
                        <div class="sliderLabel textColor-black" id="teamInfoSexLabel">Male</div>
                        <div class="sliderContainer sliderWidth">
                            <input type="range" min="0" max="1" value="0" class="slider" id="teamInfoSex">
                        </div>
                    <div class="col_20p"><!--For Spacing--></div>
                </div>
                </div>
                <div class="row_40p">
                    <div class="col_30p subTitle2">   Include In Leaderboards:</div>
                    <div class="col_40p">
                        <div class="sliderLabel textColor-black" id="teamInfoIncludeLeaderboardsLabel">Yes</div>
                        <div class="sliderContainer sliderWidth">
                            <input type="range" min="0" max="1" value="0" class="slider" id="teamInfoIncludeLeaderboards">
                        </div>
                        </div>
                    <div class="col_30p"><!--For Spacing--></div>
                </div>
            </div>

            <!-- Will display all of the members for the specific team selected -->
            <div class="table"> 
                <span class="table-title">Team Members:</span>
                <table id="teamsTable"> 
                <tr class="table-top">
                    <th class="width25">Name</th>
                    <th class="width25">Email</th>
                    <th class="width25">Teams</th>
                    <th class="width20">Volunteer Hours</th> 
                    <th class="width5">View</th>          
                </tr>
                <tr>
                    <td>Ryan Stolys</td>
                    <td>rstolys@sfu.ca</td> 
                    <td>M - Golf</td>
                    <td>23</td>
                    <td><i id="viewVolunteerInfo" class="fas fa-eye table-view"></i></td> 
                </tr>
                </table>
            </div>

            <!-- Button to go back to all teams view -->
            <div class="popup-buttons">
                <div class="popup-buttons-cancel"><button class="button" id="backToAllTeamsButton">Back to all teams</button></div>
            </div>
        </div>


        <!-- Pop up box for adding Teams -->
        <div id="addTeamPopup" class="popup-greyOut" style="display:none">
            <div class="popup-box">
                <div class="popup-title">
                    <h1>Add Team</h1>
                </div>
                <div class="popup-content" style="height:250px">

                    <div class="row_25p">
                    <div class="col_60p subTitle2"> Team Name</div>
                    <div class="col_40p">
                        <input class="textInput" type="text" placeholder="Team Name" id="addTeam-name">
                    </div>
                    </div>

                    <div class="row_25p">
                    <div class="col_60p subTitle2">  Team Sex</div>
                    <div class="col_40p">
                        <div class="sliderLabel" id="teamSexLabel">Male</div>
                        <div class="sliderContainer sliderWidth">
                        <input type="range" min="0" max="1" value="0" class="slider" id="teamSex">
                        </div>
                    </div>
                    </div>

                    <div class="row_25p">
                    <div class="col_60p subTitle2"> Include in Leaderboards</div>
                    <div class="col_40p">
                        <div class="sliderLabel" id="includeLeaderboardsLabel">Yes</div>
                        <div class="sliderContainer sliderWidth">
                        <input type="range" min="0" max="1" value="0" class="slider" id="includeLeaderboards">
                        </div>
                    </div>
                    </div>

                    <div class="row_25p">
                    <div class="col_60p subTitle2">  Upload Team Roster</div>
                    <div class="col_40p">
                        <button class="button" type="submit"> Choose File</button>
                    </div>
                    </div>
                    

                </div>
                <div class="popup-buttons">
                    <div class="popup-buttons-cancel"><button class="button" id="cancelTeamChoice">Cancel</button></div>
                    <div class="popup-buttons-add"><button class="button" id="addTeamChoice">Add</button></div>
                </div>
            </div>
        </div>

        <!-- Pop up box for viewing Volunteers on Teams -->
        <div id="viewVolunteerPopup" class="popup-greyOut" style="display:none">
            <div class="popup-box">
                <div class="popup-title" >
                    <h1>View Volunteer</h1>
                </div>
                <div class="popup-content" style="height:225px">
                    <div class="col_50p row_100p">
                        <div class="row_50p">
                            <div class="row_25p text-center subTitle2">  Name:</div>
                            <div class="row_75p">
                                <div class="col_50p">
                                    <input class="textInput" type="text" placeholder="First" id="volunteerInfo-firstName">
                                </div>
                                <div class="col_50p">
                                    <input class="textInput" type="text" placeholder="Last" id="volunteerInfo-lastName">
                                </div>
                            </div>
                        </div>
                        <div class="row_50p">
                            <div class="col_30p paddingTop5 subTitle2"> Email:</div>
                            <div class="col_70p">
                                <input class="textInput" type="text" placeholder="Email" id="volunteerInfo-email">
                            </div>
                        </div>
                    </div>

                    <div class="col_50p row_100p">
                        <div class="row_50p">
                            <div class="row_50p paddingTop30">
                                <div class="col_25p text-center subTitle2">Team:</div>
                                <div class="col_75p">
                                    <div class="dropdown">
                                        <button class="dropdown-button"><span id="viewVolunteer-team">  Team</span><i class="fa fa-angle-right" id="dropdown-arrow-addOppourtunityType"></i></button>
                                        <div id="addOppourtunityTypeOptions" class="dropdown-content">
                                            <!--Will not add any options since we are only using this as a place to show what value is-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row_50p">
                            <div class="col_25p text-center subTitle2">  Role:</div>
                            <div class="col_75p"> 
                                <div class="dropdown">
                                    <button class="dropdown-button"><span id="viewVolunteer-role">  Role</span><i class="fa fa-angle-right" id="dropdown-arrow-addOppourtunityType"></i></button>
                                    <div id="addOppourtunityTypeOptions" class="dropdown-content">
                                        <!--Will not add any options since we are only using this as a place to show what value is-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>  

                <div class="popup-buttons">
                    <div class="popup-buttons-cancel"><button class="button" id="cancelViewVolunteer">Cancel</button></div>
                    <div class="popup-buttons-add"><button class="button" id="editViewVolunteer">Edit</button></div>
                </div>
            </div>
        </div>

        <!-- Pop up box for logging out -->
        <div id="logoutPopup" class="popup-greyOut" style="display:none">
            <div class="logout-popup">
                <div class="logout-content subTitle">
                    Are you sure you want to logout?
                </div>
                <div class="logout-buttons">
                    <div class="popup-buttons-cancel"><button class="button" id="cancelLogoutChoice">Cancel</button></div>
                    <div class="popup-buttons-add"><button class="button" id="yesLogoutChoice">Yes</button></div>
                </div>
            </div>
        </div>

    </div>


    <!-- Load React. -->
    <!-- Note: when deploying, replace "development.js" with "production.min.js". -->
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>

    <!-- Add React js scripts here -->
  </body>
  
</html>