<!-------------------------------------------------------------
- volunteers.html -- volunteers page
-
- Ryan Stolys, 27/06/20
-     - Created Page 
-     - Added divs to seperate multiple pages and added input fields (10/08/20)
-
- Jayden Cole, 23/08/20
-     - Added Specific Volunteer page, and style touch ups
-
-------------------------------------------------------------->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Style Sheets -->
    <link rel="stylesheet" href="../css_files/general.css"> 
    <link rel="stylesheet" href="../css_files/volunteers.css">
    <link rel="stylesheet" href="../css_files/components.css"> 

    <!-- Font Awesome 6-->
    <script src="https://kit.fontawesome.com/30087e3184.js" crossorigin="anonymous"></script>

    <!-- Scripts -->
    <script src="../js_files/general.js"></script>
    <script src="../js_files/volunteers.js"></script>
    <script src="../js_files/slider.js"></script>
    <script src="../js_files/logout.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Page Title -->
    <title>Hands On Deck - Volunteers</title>

  </head>

  <body onload="init();">

    <!--Add navigation bar-->
    <%- include ("../partials/nav.ejs") %>

    <div id="loader" style="display:none;"></div>

    <!-- GOOD message div <div class="volunteer-successAlert">MESSAGE</div> -->


    <div class="pageContainer"> 
    
        <!-- Volunteers main page -->
        <div id="volunteerMainPage">

            <div style="height: 60px">  <!-- Define height of top section to avoid spacing issues with text above table-->
                <div class="addVolunteerButton hideObj">
                    <button class="button" id="addVolunteerButton">Add Volunteer</button>
                </div>

                <div class="searchVolunteer paddingTop5 search">
                    <input class="textInput" type="text" placeholder="Search" id="searchVolunteers">
                </div>
            </div>

            <!-- Displays list of volunteers-->
            <div id="volunteersTableDiv" class="table"> 
                <span class="table-title">Volunteers:</span>
                <table id="volunteersTable"> 
                    <tr>
                        <th class="width25">Name</th>
                        <th class="width25">Email</th>
                        <th class="width20">Team</th>
                        <th class="width20">Volunteer Hours</th> 
                        <th class="width5">View</th>
                        <th class="width5">Delete</th>
                    </tr>
                </table>
            </div>
        
        </div>
        
        <!-- Used to show the volunteer history of volunteer -->
        <div id="viewVolunteerPage" style="display: none;">
            <div class="volunteerHistoryTitle">
                <div class="col_33p row_100p">
                    <button class="button col_16p" style="width: 70%;" id="returnToVolList"> Return to Volunteers</button>
                </div>
                <div class="col_33p row_100p">
                    <div class="row_50p">
                        <div class="col_100p subTitle3"> Name:</div>
                    </div>
                    <div class="row_50p">
                        <div id="volName" class="subTitle3 text-black"></div>
                    </div>
                </div>
                <div class="col_33p row_100p">
                    <div class="row_50p">
                        <div class="col_100p subTitle3"> Team:</div>
                    </div>
                    <div class="row_50p">
                        <div id="volTeam" class="subTitle3 text-black"></div>
                    </div>
                </div>
            </div>

            <div id="volunteerHistoryTableDiv" class="table"> 
                <span class="table-title">Volunteer History:</span>
                <table id="volunteerHistoryTable"> 
                    <tr>
                        <th class="width30">Title</th>
                        <th class="width15">Type</th>
                        <th class="width15">Number of Hours</th>
                        <th class="width15">Date</th> 
                        <th class="width10">Time</th> 
                        <th class="width10">Validated</th> 
                        <th class="width5">Delete</th>
                    </tr>
                </table>
            </div>     
        </div>


        <!-- Pop up box for viewing an opportunity that a volunteer has participated in-->
        <div id="viewOppourtunityDetailsPopup" class="popup-greyOut" style="display:none">
            <div class="popup-box">
                <div class="popup-title">
                    <h1 id="opportunityTitle">Opportunity Title</h1>
                </div>
                <div class="popup-content" style="height:175px">

                    <div class="col_50p row_100p">
                        <div class="row_20p">
                            <div class="col_50p subTitle3"> Date:</div>
                            <div class="col_50p subTitle3"> Time:</div>
                        </div>
                        <div class="row_40p">
                            <div class="col_50p subTitle3">
                            <input class="textInput" type="text" placeholder="Date" id="oppDate">
                            </div>
                            <div class="col_50p subTitle3">
                            <input class="textInput" type="text" placeholder="Time" id="oppTime">
                            </div>
                        </div>
                        <div class="row_40p">
                            <div class="col_35p subTitle3"> Validated:</div>
                            <div class="col_65p subTitle3">
                                <div class="sliderLabel" id="oppValidatedLabel">Yes</div>
                                <div class="sliderContainer sliderWidth">
                                    <input type="range" min="0" max="1" value="0" class="slider" id="oppValidated">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col_50p row_100p">
                        <div class="row_20p">
                            <div class="col_100p subTitle3"> Duration:</div>
                        </div>
                        <div class="row_40p">
                            <div class="col_100p subTitle3">
                                <input class="textInput" type="text" placeholder="Duration" id="oppDuration">
                            </div>
                        </div>
                        <div class="row_40p">
                            <div class="col_35p subTitle3"> Occurred:</div>
                            <div class="col_65p">
                                <div class="sliderLabel" id="oppOccurredLabel">Yes</div>
                                <div class="sliderContainer sliderWidth">
                                    <input type="range" min="0" max="1" value="0" class="slider" id="oppOccurred">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="popup-buttons">
                    <div class="popup-buttons-cancel"><button class="button" id="cancelOppourtunityView">Cancel</button></div>
                    <div class="popup-buttons-add"><button class="button" id="saveOppourtunityView">Save</button></div>
                </div>
            </div>
        </div>


        <!--
        <div id="addVolunteerPopup" class="popup-greyOut" style="display:none">
            <div class="popup-box">
                <div class="popup-title" >
                    <h1 id="oppourtunityTitle">Volunteer Information</h1>
                </div>
                <div class="popup-content" style="height:200px">
                    
                    <div class="col_50p row_100p">
                        <div class="row_25p">
                            <div class="col_100p text-center subTitle3"> Name:</div>
                        </div>
                        <div class="row_35p">
                            <div class="col_50p subTitle3">
                                <input class="textInput" type="text" placeholder="First" id="volunteerInfo-firstName" required>
                            </div>
                            <div class="col_50p subTitle3">
                                <input class="textInput" type="text" placeholder="Last" id="volunteerInfo-lastName" required>
                            </div>
                        </div>
                        <div class="row_40p">
                            <div class="col_30p subTitle3"> Email:</div>
                            <div class="col_70p subTitle3">
                                <input class="textInput" type="email" placeholder="Email" id="volunteerInfo-email" required>
                            </div>
                        </div>
                    </div>

                    <div class="col_50p row_100p">
                        <div class="row_25p">
                            <div class="col_100p text-center subTitle3"> Team:</div>
                        </div>
                        <div class="row_35p">
                            <div class="col_100p subTitle3">
                            <input class="textInput" type="text" placeholder="Team" id="volunteerInfo-teamName" required>
                            </div>
                        </div>
                        <div class="row_40p">
                            <div class="col_30p subTitle3"> Role:</div>
                            <div class="col_70p subTitle3">
                                <input class="textInput" type="text" placeholder="Role" id="volunteerInfo-type" required>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="popup-buttons">
                    <div class="popup-buttons-cancel"><button class="button" type="button" id="cancelAddVolunteer">Cancel</button></div>
                    <div class="popup-buttons-add"><button class="button" type="submit" id="saveAddVolunteer">Save</button></div>
                </div>
            </div>
        </div>
        -->

        <div id="logout" style="display:none"></div>

    </div>

</body>
</html>