<!-------------------------------------------------------------
- volunteers.html -- volunteers page
-
- Ryan Stolys, 27/06/20
-     - Created Page 
-
-------------------------------------------------------------->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Style Sheets -->
    <link rel="stylesheet" href="../css_files/general.css"> 
    <link rel="stylesheet" href="../css_files/volunteers.css">
    <link rel="stylesheet" href="../css_files/navBar.css"> 
    <link rel="stylesheet" href="../css_files/table.css"> 
    <link rel="stylesheet" href="../css_files/popup.css">
    <link rel="stylesheet" href="../css_files/button.css">
    <!-- Font Awesome 6-->
    <script src="https://kit.fontawesome.com/30087e3184.js" crossorigin="anonymous"></script>

    <!-- Scripts -->
    <script src="../js_files/volunteers.js"></script>
    <script src="../js_files/slider.js"></script>
    <script src="../js_files/logout.js"></script>

    <!-- Page Title -->
    <title>Hands On Deck - Volunteers</title>

  </head>

  <body onload="init();">

    <!--Add navigation bar-->
    <div class="navigationBar">
      <a href="/"><img src="../images/HOD_Logo.png" class="logo"/></a>
      <div class="topnav">
        <a href="/" class="name">Hands-on-Deck Volunteering</a>
        <div class="right">
          <a href="/index.html">Home</a>
          <a href="/oppourtunities.html">Opportunities</a>
          <a href="/volunteers.html" class="active">Volunteers</a>
          <a href="/teams.html">Teams</a>
          <a id="logoutButton">Log out</a>
        </div>
      </div>
    </div>

    <div class="pageContainer"> 


      <div class="addVolunteerButton">
        <button id="addVolunteerButton">Add Volunteer</button>
      </div>

      <div class="searchVolunteer">
        <button id="searchVolunteer">Search</button> <!-- Will be changed to input field-->
      </div>


      <!-- Displays list of volunteers-->
      <div id="volunteersTableDiv" class="table"> 
        <span class="table-title">Volunteers:</span>
        <table id="volunteersTable"> 
          <tr>
            <th class="table-volunteers_name">Name</th>
            <th class="table-volunteers_email">Email</th>
            <th class="table-volunteers_team">Team</th>
            <th class="table-volunteers_Vhrs">Volunteer Hours</th> 
            <th class="table-volunteers_view">View</th>
          </tr>
          <tr>
            <td>Ryan Stolys</td>
            <td>rstolys@sfu.ca</td> 
            <td>Men's Golf</td>
            <td>23</td>
            <td><i class="fas fa-eye table-view"></i></td> 
          </tr>
          <tr>
            <td>Jayden Cole</td>
            <td>jcole@sfu.ca</td> 
            <td>Men's Swimming</td>
            <td>25</td>
            <td><i class="fas fa-eye table-view"></i></td> 
          </tr>
        </table>
      </div>

      <!-- Used to show the volunteer history of volunteer-->
      <div id="volunteerHistoryTableDiv" class="table"> 
        <span class="table-title">Volunteer History:</span>
        <table id="volunteerHistoryTable"> 
          <tr>
            <th class="table-oppourtunity_title">Title</th>
            <th class="table-oppourtunity_type">Type</th>
            <th class="table-oppourtunity_numVol">Number of Hours</th>
            <th class="table-oppourtunity_date">Date</th> 
            <th class="table-oppourtunity_time">Time</th> 
            <th class="table-oppourtunity_view">View</th>
          </tr>
          <tr>
            <td>Operation Christmas Child</td>
            <td>Local Community</td> 
            <td>2.5</td>
            <td>Nov. 23, 2020</td>
            <td>6:30 PM</td>
            <td><i class="fas fa-eye table-view"></i></td> 
          </tr>
          <tr>
            <td>Special Olympics</td>
            <td>Local Community</td> 
            <td>1.25</td>
            <td>Nov. 24, 2020</td>
            <td>7:30 PM</td>
            <td><i class="fas fa-eye table-view"></i></td> 
          </tr>
        </table>
      </div>


      <!-- Pop up box for adding volunteers -->
      <div id="volunteerOppourtunityPopup" class="popup-greyOut" style="display:none">
        <div class="popup-box">
            <div class="popup-title" >
                <h1 id="oppourtunityTitle">Oppourtunity Title</h1>
            </div>
            <div class="popup-content">
                
              <!--Will need to add styling to make slider elements position correctly in popup up-->
              <div class="sliderLabel" id="oppValidatedLabel">Yes</div>
              <div class="sliderContainer sliderWidth">
                <input type="range" min="0" max="1" value="0" class="slider" id="oppValidated">
              </div>

              <div class="sliderLabel" id="oppOccurredLabel">Yes</div>
              <div class="sliderContainer sliderWidth">
                <input type="range" min="0" max="1" value="0" class="slider" id="oppOccurred">
              </div>

            </div>
            <div class="popup-buttons">
                <div class="popup-buttons-cancel"><button id="cancelVolunteerOppourtunityChoice">Cancel</button></div>
                <div class="popup-buttons-add"><button id="saveVolunteerOppourtunityChoice">Save</button></div>
            </div>
        </div>
      </div>


      <!-- Pop up box for logging out -->
      <div id="logoutPopup" class="popup-greyOut" style="display:none">
        <div class="popup-box">
            <div class="popup-title" >
                <h1> </h1> <!--No text, just here for spacing-->
            </div>
            <div class="popup-content">
                
              <div class="subTitle">
                Are you sure you want to logout?
              </div>

            </div>
            <div class="popup-buttons">
                <div class="popup-buttons-cancel"><button id="cancelLogoutChoice">Cancel</button></div>
                <div class="popup-buttons-add"><button id="yesLogoutChoice">Yes</button></div>
            </div>
        </div>
      </div>

    </div>


    <!-- Load React. -->
    <!-- Note: when deploying, replace "development.js" with "production.min.js". -->
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>

    <!-- Add React js scripts here -->
  </body>
  
</html>